{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
        <div class="mb-4">
            <p>
                {{ target_user.date_joined }}
            </p>
            <h2 style="font-family: 'NanumSquareRoundOTFR'">
                {{ target_user.username }}
            </h2>

            {% if target_user == user %}
            <a href="{% url 'acountapp:update' pk=user.pk %}">
                <p>Chang Info</p>
            </a>
            <a href="{% url 'acountapp:delete' pk=user.pk %}">
                <p>Quit</p>
            </a>
            {% endif %}
        </div>
    </div>

{% endblock %}