.logo {
    font-family: 'Fugaz One', cursive;
}

.footer_head {
    text-align: center; margin-top: 2rem;
}

.footer_button {
    font-size: .9rem;
}

.logo_head {
    text-align:center; margin: 2rem 0;
}




