    <div class="logo_head">
        <div>
            <h1 class="logo">Hyejin</h1>
        </div>
        <div>
            <a href="{% url 'articleapp:list' %}">
                <span>Articles</span>
            </a>
            <span>nav2</span>
            <span>nav3</span>
            {% if not user.is_authenticated %}
            <a href="{% url 'acountapp:login' %}?next={{ request.path }}">
                <span>login</span>
            </a>
            <a href="{% url 'acountapp:create' %}">
                <span>SignUp</span>
            </a>
            {% else %}
            <a href="{% url 'acountapp:detail' pk=user.pk %}">
                <span>Mypage</span>
            </a>

            <a href="{% url 'acountapp:logout' %}?next={{ request.path }}">
                <span>logout</span>
            </a>
            {% endif %}

        </div>
    </div>